
header {
	position: fixed;
	top: 0px;
	display: block;
	width: 100%;
	height: 15%;
	background-color: blue;
}

body {
	background-color: brown;
}

h2 {
	font-size: 40px;
	margin: 30px;
}

h3 {
	font-size: 25px;
	margin: 20px
}

h4 {
	font-size: 20px;
	margin: 20px 0px 10px 0px;
}

p {
	font-family: helvetica;
	font-size: 18px;
	margin: 10px 30px;
	text-align: justify-all;
}

#end {
	display: none;
	position: fixed;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

@keyframes left-in {
	from {left: -50%;}
	to 	 {left: 0%;}
}

@keyframes right-in {
	from {left: 100%;}
	to 	 {left: 50%;}
}


#left-curtain {
	display: block;
	background-image: url("http://1.bp.blogspot.com/-133TDPjC4Xk/TgzLaeSQ-7I/AAAAAAAAAQ8/Gf9vMPSXJY4/s1600/image.jpg");
	position: fixed;
	top: 0px;
	left: 0px;
	width: 50%;
	height: 100%;
	animation: left-in;
	animation-duration: 1s;
}

#right-curtain {
	display: block;
	background-image: url("http://1.bp.blogspot.com/-133TDPjC4Xk/TgzLaeSQ-7I/AAAAAAAAAQ8/Gf9vMPSXJY4/s1600/image.jpg");
	position: fixed;
	top: 0px;
	left: 50%;
	width: 50%;
	height: 100%;
	animation: right-in;
	animation-duration: 1s;
}

#rules-box {
	display: none;
	position: fixed;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.5);
}

#rules-sub {
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 60%;
	height: 60%;
	background-color: rgb(255,255,255);
	border-radius: 12px;
	border:5px solid black;
	font-family: 'Merienda', cursive;
	overflow: auto;
}

.x-out {
	display: block;
	width: 50px;
	position: fixed;
	top: 10px;
	right: 10px;
	opacity: .4;
	transition-duration: .4s;
}

.x-out:hover {
	opacity: 1;
}

#game {
	display:none;
}

#menu {
	display: block;
}

.start-buttons {
	position: fixed;
	top: 50%;
	left: 50%;
	display: flex;
	transform: translateX(-50%);
	justify-content: center;
}

.title {
	position: fixed;
	top: 10%;
	left: 15%;
	display: block;
	text-align: center;
	width: 70%;
}

#table {
	height: 70vh;
	width: 100%;
	background-color: green;
	border-bottom-left-radius: 40%;
	border-bottom-right-radius: 40%;
	transform: translateY(15vh);
}

.card {
	background-color: white;
	background-size: 90%;
	display: inline-block;
	height: 146.25px;
	width: 105px;
	margin: 5px;
	border: 1px solid black;
	border-radius: 4px; 
	background-position: center; 
	background-repeat: no-repeat;
}

.back {
	background-image: url('../images/cards/GAback.png');
	background-size: cover;
}

.hand {
	display: flex;
	justify-content: center;
}

.deck {
	display: block;
	margin: 0 auto;
	border: 2px solid black;
	text-align: center;
	color: white;
	position: fixed;
	top: 21vh;
	left: 25%;
	transform: translateX(-50%);
}

.buttons {
	display: none;
	justify-content: center;
	position: fixed;
	bottom: 2%;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
}

#player-hand {
	position: fixed;
	bottom: 26%;
	left: 50%;
	transform: translate(-50%,50%);
}

#player-score {
	color: white;
	font-family: 'Merienda', cursive;
	font-size: 26px;
	display: block;
	position: fixed;
	bottom: 26%;
	left: 25%;
	transform: translate(-50%,50%);
}

#dealer-score {
	color: white;
	font-family: 'Merienda', cursive;
	font-size: 26px;
	display: block;
	position: fixed;
	top: 63.5px;
	left: 25%;
	transform: translate(-50%,-50%);
}

button {
	height: 50px;
	width: 100px;
	font-size: 15px;
	font-family: 'Merienda', cursive;
}


#double-down {
	cursor: not-allowed;
}

#split {
	cursor: not-allowed;
}

.win-lose {
	display: block;
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: 'Merienda', cursive;
	font-size: 50px;
	color: white;
}

#bank {
	display: block;
	position: fixed;
	top: 7.5%;
	left: 15%;
	transform: translateY(-50%);
	color: white;
	font-family:'Merienda', cursive;
	font-size: 30px;
}

#pot {
	display: block;
	position: fixed;
	top: 7.5%;
	right: 15%;
	transform: translateY(-50%);
	color: white;
	font-family:'Merienda', cursive;
	font-size: 30px;
}

#start {
	display: block;
	position: fixed;
	top: 7.5%;
	left:50%;
	transform: translate(-50%,-50%)
}

.chip {
	height: 50px;
	width: 50px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	border:0px;
	background-size: cover;
}

#chips {
	position: fixed;
	right: 50%;
	bottom:2.5%;
	transform: translateX(50%);
	height: 10%;
	width: 40%;
	border: 4px dashed black;
	background-color: rgba(0,0,0,.5);
	display: flex;
	justify-content:space-around;
}

#chippot {
	width: 20%;
	height: 15%;
	position: fixed;
	top: 45%;
	right: 15%;
	border: 3px dashed black;
	transform: translateY(-50%);
	display: flex;
	justify-content: space-around;
}

.five { 
	background-image: url("../images/5chip.png");
}
.ten { 
	background-image: url("../images/10chip.png");
}
.tfive { 
	background-image: url("../images/25chip.png");
}
.fifty { 
	background-image: url("../images/50chip.png");
}
.hundred { 
	background-image: url("../images/100chip.png");
}

#bankrupt {
	display: none;
	top: 20%;
	animation:drop-in;
	animation-duration: 1s;
}

.play-again {
	display: none;
	width: 15%;
	height: 10%;
}

@keyframes drop-in {
	0% {transform: translateY(-4000px);}
	25% {transform: translateY(0px);}
	75% {transform: scaleY(.5);
		 transform: translateY(-25%);}
}