
header {
	position: fixed;
	top: 0px;
	display: block;
	width: 100%;
	height: 15%;
	background-color: blue;
}

#table {
	top: 15%;
	width: 100%;
	background-color: brown;
}

.card {
	background-color: white;
	background-size: 90%;
	display: inline-block;
	height: 78px;
	width: 56px;
	margin: 5px;
	border-radius: 2px; 
	background-position: center; 
	background-repeat: no-repeat;
}

.back {
	background-image: url('../images/cards/GAback.png');
	background-size: cover;
}